@import "/base.css";

.home-banner {
background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: calc(100vh - 80px);
  padding: 60px;
  transition: background 2s;
  text-align: center;
}
.home-banner .top-frame {
  display: flex;
  justify-content: center;
  position: absolute;
  align-self: flex-start;
  width: calc(100vw - 2 * 60px);
}

.home-banner .bottom-frame {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-self: flex-end;
  width: calc(100vw - 2 * 60px);
}

.home-banner .inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}
.home-banner .inner .banner-logo img {
  padding-top: 200px;
  width: 45vw;
}
.home-banner .inner .banner-text {
  width: 45vw;
  margin: 60px auto 0;
  padding: 30px 30px 50px;
  border: 2px solid var(--primary);
  background: var(--accent);
  text-align: center;
  color: var(--black);
}
.home-banner .inner .button-wrapper {
  position: relative;
  display: inline-block;
  margin: -30px auto 0;
  background-color: var(--accent);
  text-align: center;
  z-index: 1;
}
.home-banner .inner .button-wrapper .button {
  margin: 0 auto;
  padding-top: 21px;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
.home-banner .inner .button-wrapper .button:hover {
  background-color: var(--primary);
  color: var(--accent);
}

#fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 84px;
  background: linear-gradient(-70deg, rgba(187,148,232,1) 0%, rgba(151,217,231,1) 54%, rgba(226,163,231,1) 100%);
}

#fs p {
  margin: auto;
  color: white;
  text-align: center;
}

#fs a {
  border: 2px solid white;
  padding: 10px 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
}

#fs a:hover {
  background-color: white;
  color: #152744;
}

@media screen and (max-width: 800px) {
 /* .home-banner .corner {
    width: 75px;
    height: 75px;
  }*/
  .home-banner .inner .banner-text {
    width: 55vw;
  }

  #fs {
    height: 420px;
  }
}
@media screen and (max-width: 600px) {
  /*.home-banner .corner {
    width: 50px;
    height: 50px;
  }*/

  #fs {
    height: 600px;
  }
}


