body {
  background-color: powderblue;
    margin: 0%;

}
h1 {
  color: blue;
}
p {
  color: red;
}
.topnav {
  overflow: hidden;
  background-color: #330A04;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #BFD5D2;
  color: black;
}

 .logo {
   margin-top: 15px;
   margin-left: 10px;
   height: 10%;
   width: 10%;
}
