@import "/base.css";

/* #about .page-heading {
  background: url('/media/page-banners/about.jpg');
  background-size: cover;
  background-position: center;
} */
#about .page-heading .page-title {
  background: linear-gradient(135deg, var(--accent), var(--white));
  color: var(--black);
}


.content-block {
  width: 100vw;
  padding: 80px var(--tight-margin);
  text-align: left;
}
.content-block .question {
  margin-bottom: 20px;
  padding: 5px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
}
.content-block .answer-block {
  display: inline-block;
  padding-left: 60px;
  border-left: 2px solid var(--primary);
  margin: 10px 0 80px;
}
.content-block .answer-block .content {
  display: inline-block;
  color: var(--black);
}

